@import 'foundation'

// Media queries
$mediaRetina: 'only screen and (-Webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5)'

$colorBlack: #333
$pageBackground: #00aeef

// Base
html
  -webkit-text-size-adjust: none

body
  background: $pageBackground
  color: $colorBlack
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif
  min-width: 320px

// Font styles
%large-font
  font-size: 48px
  font-weight: normal
  letter-spacing: 0.07em
  line-height: 1.25em

  @media #{$small-only}
    font-size: 24px
    line-height: 1.25em

%medium-font
  font-size: 19px
  letter-spacing: 0.07em
  line-height: 1.25em

  @media #{$small-only}
    font-size: 15px

%small-font
  font-size: 16px
  letter-spacing: 0.07em
  line-height: 1.5em

  @media #{$small-only}
    font-size: 14px

// Images
%image-logo
  background-image: url('../images/logo.png')
  background-position: 50% 50%
  background-repeat: no-repeat

  @media #{$mediaRetina}
    background-image: url('../images/logo@2x.png')
    background-size: 327px 58px

%image-eye
  background-image: url('../images/eye.png')
  background-repeat: no-repeat
  background-size: 30px 60px

%image-phone
  background-image: url('../images/phone.png')
  background-repeat: no-repeat
  background-size: 30px 60px

%image-details
  background-image: url('../images/details_icon.png')
  background-repeat: no-repeat
  background-size: 18px 23px

// Blocks
.opening-block
  background-image: url('../images/bg_image.jpg')
  background-position: 50% 0
  background-repeat: no-repeat
  background-size: cover

  .opening-phone-bg
    background-image: url('../images/phone_bg.png')
    background-position: 50% 100%
    background-repeat: no-repeat
    min-height: 580px

    @media #{$small-only}
      background-image: none
      min-height: 0

  .opening-header
    padding: 40px 0 0

    @media #{$small-only}
      padding: 30px 0 0

  .opening-header-logo
    background-image: url('../images/logo.png')
    background-position: 50% 50%
    background-repeat: no-repeat
    height: 35px
    overflow: hidden
    text-indent: -9999px
    width: 215px

    @media #{$small-only}
      width: 100%

  .opening-header-text
    @extend %medium-font
    color: #fff
    padding: 15px 0 0

    @media #{$small-only}
      padding: 15px 0 0
      text-align: center

  .opening-header-buttons
    padding: 10px 0 0
    text-align: right

    @media #{$small-only}
      padding: 20px 0 0
      text-align: center

  %opening-header-button
    @extend %small-font
    background-color: #fff
    border-radius: 50px
    color: #222
    display: inline-block
    line-height: 30px
    margin-bottom: 15px
    margin-left: 15px
    padding: 0 25px 0 0px
    text-align: left

    @media #{$small-only}
      margin: 10px

    &:before
      background-position: 12px 50%
      background-repeat: no-repeat
      content: ''
      display: inline-block
      height: 30px
      vertical-align: top
      width: 35px

  .opening-header-button-en
    @extend %opening-header-button

    &:before
      background-image: url('../images/gb_flag.png')

  .opening-header-button-fr
    @extend %opening-header-button

    &:before
      background-image: url('../images/fr_flag.png')

  .opening-header-button-ru
    @extend %opening-header-button

    &:before
      background-image: url('../images/ru_flag.png')

  .opening-title
    @extend %large-font
    color: #fff
    margin: 90px 0 50px

    @media #{$small-only}
      margin: 30px 0 35px
      text-align: center

.tour-block
  .tour-logo
    background-image: url('../images/fiamp_logo.png')
    background-position: 50% 50%
    background-repeat: no-repeat
    background-size: contain
    height: 148px
    margin: 50px 0 0

  .tour-title
    @extend %large-font
    color: #fff
    margin: 50px 0 0 0
    text-align: center

    @media #{$small-only}
      margin: 25px 0 0 0

  .tour-buttons
    margin: 50px 0 0 0
    text-align: center

    @media #{$small-only}
      margin: 25px 0 0 0

  %tour-buttons-item
    @extend %small-font
    background-color: #fff
    border-radius: 50px
    color: #222
    display: inline-block
    line-height: 46px
    margin: 10px 25px
    padding: 0 25px 0 10px
    text-align: left

    @media #{$small-only}
      margin: 10px 15px

    &:before
      background-position: 0 -30px
      content: ''
      display: inline-block
      height: 30px
      margin-left: 3px
      margin-top: 7px
      vertical-align: top
      width: 40px

  .tour-buttons-item--download
    @extend %tour-buttons-item

    &:before
      @extend %image-phone

  .tour-buttons-item--preview
    @extend %tour-buttons-item

    &:before
      @extend %image-eye

  .tour-text
    @extend %small-font
    color: #fff
    padding: 0 15px
    text-align: center
    margin: 60px 0 0

    @media #{$small-only}
      margin: 30px 0 0 0

    p
      @extend %small-font

  .tour-description
    border: 1px solid #fff
    margin: 60px 0 100px
    padding: 30px 60px
    width: 100%

    @media #{$small-only}
      margin: 40px 0 60px
      padding: 15px

  .tour-description-short
    display: none

  .tour-description-text
    @extend %small-font
    color: #fff

    p
      @extend %small-font

    ol
      padding-left: 35px

      @media #{$small-only}
        padding-left: 25px

  .tour-description-button-wrapper
    text-align: center
    margin: 25px 0 0

    @media #{$small-only}
      margin: 15px 0 0

  .tour-description-button
    @extend %small-font
    border-radius: 50px
    border: 1px solid #fff
    color: #fff
    display: inline-block
    line-height: 46px
    margin: 10px 25px
    padding: 0 25px 0 10px
    text-align: left

    @media #{$small-only}
      margin: 10px 15px

    &:before
      @extend %image-details
      background-position: 5px 4px
      content: ''
      display: inline-block
      height: 30px
      margin-left: 3px
      margin-top: 7px
      vertical-align: top
      width: 40px

.about-block
  background: #fff
  border-bottom: 2px solid #e8e8e8

.hiw-block
  background: #fff

.about-block,
.hiw-block
  padding-bottom: 90px

  @media #{$small-only}
    padding-bottom: 50px

  .title
    @extend %large-font
    font-weight: normal
    margin-bottom: 0
    margin-top: 60px
    padding-bottom: 40px
    text-align: center

    @media #{$small-only}
      margin-top: 40px
      padding-bottom: 20px

  .image2
    background-position: 50% 100%
    background-repeat: no-repeat
    height: 100px
    width: 100%

    &.image-record
      background-image: url('../images/record.png')

      @media #{$mediaRetina}
        background-image: url('../images/record@2x.png')
        background-size: 73px 78px

    &.image-publish
      background-image: url('../images/publish.png')

      @media #{$mediaRetina}
        background-image: url('../images/publish@2x.png')
        background-size: 78px 73px

    &.image-announce
      background-image: url('../images/announce.png')

      @media #{$mediaRetina}
        background-image: url('../images/announce@2x.png')
        background-size: 82px 90px

  .small-title
    color: #00aeef
    font-size: 24px
    font-weight: normal
    letter-spacing: 0.07em
    margin-bottom: 25px
    margin-top: 15px
    text-align: center

    @media #{$small-only}
      font-size: 16px
      margin-bottom: 17px
      margin-top: 15px

  .text
    font-size: 16px
    line-height: 1.9em
    padding: 0 10px

    @media #{$small-only}
      margin-bottom: 35px
      padding: 0

.footer-block
  .title
    @extend %large-font
    color: #fff
    margin-top: 60px
    margin-bottom: 80px
    text-align: center

    @media #{$small-only}
      margin-top: 30px
      margin-bottom: 40px

    .bold
      font-weight: normal

    a
      color: #fff
      text-decoration: none

      &:hover
        text-decoration: underline
