@import 'foundation'

// Media queries
$mediaRetina: 'only screen and (-Webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5)'

$colorBlack: #333
$pageBackground: #00aeef

body
  background: $pageBackground
  color: $colorBlack
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif
  min-width: 320px

%large-font
  font-size: 48px
  font-weight: normal
  letter-spacing: 0.07em
  line-height: 1.25em

  @media #{$small-only}
    font-size: 24px
    line-height: 1.25em

%medium-font
  font-size: em-calc(24px)
  line-height: 1.25em

  @media #{$small-only}
    font-size: em-calc(18px)

%small-font
  -webkit-text-size-adjust: 100%
  font-size: 16px
  letter-spacing: 0.07em
  line-height: 1.5em

  @media #{$small-only}
    font-size: 14px

%image-logo
  background-image: url('../images/logo.png')
  background-position: 50% 50%
  background-repeat: no-repeat

  @media #{$mediaRetina}
    background-image: url('../images/logo@2x.png')
    background-size: 327px 58px

%image-eye
  background-image: url('../images/eye.png')
  background-repeat: no-repeat
  background-size: 30px 60px

  @media only screen and (-Webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5)
    background-image: url('../images/big/eye.png')

%image-phone
  background-image: url('../images/phone.png')
  background-repeat: no-repeat
  background-size: 30px 60px

  @media only screen and (-Webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5)
    background-image: url('../images/big/phone.png')

.opening-block
  background-image: url('../images/pattern.png')
  background-position: 50% 0
  padding-bottom: 200px
  position: relative

  @media #{$mediaRetina}
    background-image: url('../images/pattern@2x.png')
    background-size: 280px 260px

  @media #{$small-only}
    padding-bottom: 120px

  .opening-header-wrapper
    display: table
    width: 100%

  .opening-header
    @extend %small-font
    background-image: url('../images/star.png')
    background-position: 0 0
    background-repeat: no-repeat
    color: #fff
    display: table-cell
    height: 50px
    padding: 0 0 0 50px
    text-align: center
    vertical-align: middle

    @media #{$mediaRetina}
      background-image: url('../images/star@2x.png')
      background-size: 40px 50px

  .opening-logo
    @extend %image-logo
    height: 58px
    margin-top: 74px

    @media #{$small-only}
      background-size: contain
      margin-top: 37px

  .opening-title
    @extend %large-font
    color: #fff
    margin: 90px 0 0 0
    text-align: center

    @media #{$small-only}
      margin: 45px 0 0 0

  .opening-about
    text-align: center
    margin-top: 40px

    @media #{$small-only}
      margin-top: 20px

  .opening-about-link
    @extend %small-font
    background: #fc702b
    border-radius: 50px
    color: #fff
    display: inline-block
    padding: 8px 25px

    &:hover
      color: #000

  .opening-description
    background: #ddd
    background: rgba(0, 0, 0, 0.3)
    bottom: 0
    left: 0
    position: absolute
    right: 0

  .opening-description-text
    @extend %small-font
    color: #fff
    padding: 10px 0
    text-align: center

.tour-block
  background-image: url('../images/moscow.jpg')
  background-position: 50% 0
  background-repeat: no-repeat
  background-size: cover
  padding-bottom: 160px
  position: relative

  @media #{$small-only}
    padding-bottom: 180px

  .tour-title
    @extend %large-font
    color: #fff
    margin: 50px 0 0 0

    @media #{$small-only}
      margin: 25px 0 0 0
      text-align: center

  .tour-text
    @extend %small-font
    color: #fff
    margin: 80px 0 0 0

    @media #{$small-only}
      margin: 30px 0 0 0

    p
      -webkit-text-size-adjust: 100%
      margin: 0 0 10px 0

      @media #{$small-only}
        margin: 0 0 5px 0

  .tour-buttons
    margin: 35px 0 0 0

    @media #{$small-only}
      margin: 5px 0 0 0
      text-align: center

  %tour-buttons-item
    @extend %small-font
    background-color: #fc702b
    border-radius: 50px
    color: #fff
    display: inline-block
    line-height: 46px
    margin: 15px 20px 0 0
    padding: 0 25px 0 10px
    text-align: left
    width: 205px

    @media #{$small-only}
      margin: 15px 10px 0 10px

    &:hover
      color: #000

    &:before
      background-position: 0 0
      content: ''
      display: inline-block
      height: 30px
      margin-left: 3px
      margin-top: 7px
      vertical-align: top
      width: 50px

    &:hover
      &:before
        background-position: 0 -30px

  .tour-buttons-item--download
    @extend %tour-buttons-item

    &:before
      @extend %image-phone

  .tour-buttons-item--preview
    @extend %tour-buttons-item

    &:before
      @extend %image-eye

  .tour-description
    background: #ddd
    background: rgba(255, 255, 255, 0.3)
    bottom: 0
    left: 0
    position: absolute
    right: 0

  .tour-description-text
    @extend %small-font
    color: #000
    padding: 10px 0
    text-align: center

.about-block
  background: #fff
  border-bottom: 2px solid #e8e8e8

.hiw-block
  background: #fff

.about-block,
.hiw-block
  padding-bottom: 90px

  @media #{$small-only}
    padding-bottom: 50px

  .title
    @extend %large-font
    font-weight: normal
    margin-bottom: 0
    margin-top: 60px
    padding-bottom: 40px
    text-align: center

    @media #{$small-only}
      margin-top: 30px
      padding-bottom: 20px

  .image2
    background-position: 50% 100%
    background-repeat: no-repeat
    height: 100px
    width: 100%

    &.image-record
      background-image: url('../images/record.png')

      @media #{$mediaRetina}
        background-image: url('../images/record@2x.png')
        background-size: 73px 78px

    &.image-publish
      background-image: url('../images/publish.png')

      @media #{$mediaRetina}
        background-image: url('../images/publish@2x.png')
        background-size: 78px 73px

    &.image-announce
      background-image: url('../images/announce.png')

      @media #{$mediaRetina}
        background-image: url('../images/announce@2x.png')
        background-size: 82px 90px

  .small-title
    color: #00aeef
    font-size: 24px
    font-weight: normal
    letter-spacing: 0.07em
    margin-bottom: 25px
    margin-top: 15px
    text-align: center

    @media #{$small-only}
      font-size: 16px
      margin-bottom: 17px
      margin-top: 15px

  .text
    font-size: 16px
    line-height: 1.9em
    padding: 0 10px

    @media #{$small-only}
      margin-bottom: 35px
      padding: 0

.footer-block
  .title
    @extend %large-font
    color: #fff
    margin-top: 60px
    margin-bottom: 80px
    text-align: center

    @media #{$small-only}
      margin-top: 30px
      margin-bottom: 40px

    .bold
      font-weight: normal

    a
      color: #fff
      text-decoration: none

      &:hover
        text-decoration: underline
