doctype html
html lang="ru"
  head
    meta charset="utf-8"
    meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"

    // Open Graph Properties
    meta property="og:url" content="http://izi.travel/im/"
    meta property="og:title" content="Как бесплатно создать аудиогид для музея."
    meta property="og:image" content="http://izi.travel/im/images/inter.png"
    meta property="og:description" content="Интермузей-2014. Мастер-класс специалистов сервиса IZI.travel 4 июня в 14:30-16:00 (стенд #5.13 в секции Техномузей,минус второй этаж)."

    title IZI.travel. A simple and free audio guide solution.
    link rel="stylesheet" href="assets/css/app.css"
    / link rel="stylesheet" href="vendor/fancybox/source/jquery.fancybox.css"
    script type="text/javascript" src="assets/jquery/jquery-1.9.0.min.js"
    script type="text/javascript" src="assets/jquery/jquery-1.10.1.min.js"
    / script type="text/javascript" src="vendor/fancybox/source/jquery.fancybox.js"
    script type="text/javascript" src="assets/js/app.js"

  body
    .opening-block
      .opening-phone-bg
        .opening-header
          .row
            .columns.large-7
              .opening-header-logo IZI.travel
              .opening-header-text Uw audio guide in elke taal op ieder device
        .row
          .columns.large-9
            h1.opening-title
              | Laat uw bezoekers genieten van
              br
              | uw verhalen via het wereldwijde
              br
              | IZI.travel platform
        .row.adlib-block
          .columns.large-6
            h4.opening-subtitle
              | Bezoek ons op stand 27 of participeer
              br
              | in onze interactieve workshop
              br
              | op 10 oktober om 11.45 en 14.00
          .columns.large-2.adlib.small-centered.large-uncentered
            span.top Nu met
            span.bottom integratie
          .columns.large-2
        .row
          .columns.large-10.small-12
            .app-download-description-apps
              a.app-download-app--apple href="https://itunes.apple.com/app/opas/id554726752" title=("Apple app store")
              a.app-download-app--google href="https://play.google.com/store/apps/details?id=travel.opas.client&amp;referrer=utm_source%3Dizi.travel%26utm_source%3Dizi.travel" title=("Google play")
              a.app-download-app--windows href="http://www.windowsphone.com/s?appid=d83847c4-012d-4d9b-91c1-c13dc807faa1" title=("Windows store")


    .video-block
      .row
        .large-12.columns
          h2.title Bekijk de video over wat IZI.travel is

          .video-wrapper
            iframe src="http://player.vimeo.com/video/99025132?title=0&amp;byline=0&amp;portrait=0" width="900" height="500" frameborder="0"

      .row
        .tour-buttons
          a.tour-buttons-item--download href="http://izi.travel/app/2e7d7e2f-9cdf-4d36-baf5-37a7dcc26311"
            | Probeer nu de app
          a.tour-buttons-item--preview href="http://izi.travel/browse/2e7d7e2f-9cdf-4d36-baf5-37a7dcc26311"
            | Preview de culturele wandeling

      .row
        .large-7.large-centered.small-10.small-centered.columns
          .small-block
            | 1. Get the IZI.travel app
            br
            | 2. Download the "Demo" tour for offline&nbsp;use
            br
            | 3. Enjoy the audio guide

    .callout-block
      .row
        .large-12.large-centered.small-12.small-centered.columns
          h3.title
            | Zelf  aan de slag gaan met IZI.travel? Dat kan.
            '
            a href="http://izi.travel/registrations/new" Registreer nu

    .schedule-block
      .row
        .large-12.columns
          h2.title Agenda
      .row
        .large-12.columns
          h3.day-title Donderdag 9 oktober
      .row
        .large-12.columns
          .event
            .event-title 17.15
            .event-text Tijdens de borrel lanceert IZI.travel de nieuwste tour 'Musea aan de Amsterdamse Grachten'
            .event-description
              | De tour brengt reizigers de prachtige verhalen die verscholen liggen in de vele musea langs
              br
              | de Amsterdamse grachten.
      .row
        .large-12.columns
          h3.day-title Vrijdag 10 oktober
      .row
        .large-12.columns
          .event
            .event-title 09.00-10.00
            .event-text IZI.travel biedt u een culturele audio tour door de stad
            .event-description Geniet nu alvast van de tour via de IZI.travel app!
        .large-12.columns
          .event
            .event-title 11.45-13.00 — De Harmonie – Bentacerazaal
            .event-text Workshop 'Hoe creëer u een audio gids in 60 minuten?'
        .large-12.columns
          .event
            .event-title 14.00-15.15  — De Harmonie – Bentacerazaal
            .event-text Hoe creëer u een audio gids in 60 minuten?

    .contact-block
      .row
        .large-12.columns
          h2.title Contacten
          h3.small-title Mocht u ons voor of tijdens het congres willen bereiken dan kan dat op:
      .row.contacts
        .large-3.columns
          .person Bob Valckx
          .text 06 30843542
        .large-3.columns
          .person Joost Okkinga
          .text 06 51566504
        .large-3.columns
          .person Marina van Dansik
          .text 06 27149706
        .large-3.columns
          .person Rene Mijs
          .text 06 54321805

    .footer-block
      .row
        .large-12.large-centered.columns
          h2.title
            | Ga naar onze website voor meer informatie
            br
            a.bold href="http://izi.travel"
              | www.izi.travel
    javascript:
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-36958369-1']);
      _gaq.push(['_trackPageview']);

      function trackEvent(category, action, label) {
        _gaq.push(['_trackEvent', category, action, label]);
      }

      (function () {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      }());
